<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>晋中市万达供热有限公司</title>
    <link rel="icon" href="images/wdgr.ico">
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css">
    <!--[if lt IE 9]>
    <script src="lib/html5shiv/html5shiv-printshiv.min.js"></script>
    <script src="lib/respond/respond.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="index.css">
</head>
<body>
<!--头部 logo  -->
<header>
    <div class="container">
        <img src="images/logo.png" alt="logo" class="wdgr_logo">
        <h1>晋中市万达供热有限公司</h1>
        <p class="header_tel hidden-xs hidden-sm glyphicon glyphicon-phone-alt">
            0354-3988399
        </p>
    </div>
</header>
<!--nav-->
<nav>
    <div class="container">
        <div class="row">
            <nav class="navbar wdgr_default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <p class=" hidden-lg hidden-md hidden-sm navbar-header_tel glyphicon glyphicon-phone-alt">
                            0354-3988399
                        </p>
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            菜单
                        </button>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="#">首页</a></li>
                            <li><a href="#">公司简介</a></li>
                            <li><a href="#">工程案例</a></li>
                            <li><a href="#">供热服务</a></li>
                            <li><a href="#">创新论坛</a></li>
                            <li><a href="#">人才招聘</a></li>
                            <li><a href="#">联系我们</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</nav>
<!--banner-->
<section class="wdgr_banner">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators"></ol>
                <div class="carousel-inner" role="listbox"></div>
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
</section>
<!--contant-->
<section class="wdgr_content">
    <div class="container">
        <div class="wdgr_contentnav col-md-8">
            <ul class="nav wdgr_nav-tabs">
                <li class="active"><a href="#customerServe" data-toggle="tab">客户服务</a></li>
                <li><a href="#chargeStandard" data-toggle="tab">收费标准</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="customerServe">
                    <p>一、在用热设施正常的情况下，保证用户起居室的温度不低于16℃。</p>
                    <p>二、每年10月1日前将用户室内采暖设施存在的隐患以函告形式告知业主。</p>
                    <p>三、在指定时间内在各个小区公告栏中将打压试水时间及采暖前的有关事项进行公示。</p>
                    <p>四、依据供用热双方签订的供热合同、协议中维修管理范围的约定，向用户做好宣传工作。</p>
                    <p>五、采暖期间．客服主管对用热户的供热质量进行不间断普查。及时发现问题，第一时间处理，以保护用热户的供热质量。</p>
                    <p>六、收费期问．客服主管须严格要求自己，收费工作的准确率100%。</p>
                    <p>七、需要到现场解决的客服部值班人员在受理用户投诉电话10分钟派人（或协调生产技术人员）到现场核实解决。</p>
                    <p>八、用户控诉采暖设施跑、冒、滴、漏或室内温度不达标等影响供热质量的情况，必须到现场核实解决问题。</p>
                    <p>九、接受用户供热质量不达标上门核实情况的人员，从接受任务起在10分钟内与客户取得联系，在40分钟内到达现场，做好核实记录并由业主对核实记录签字认可，在次日上午报送客服部电话总值班人员。不能现场解决的由值班人员根据报送资料通知相关人员处理。</p>
                    <p>十、客服电话总值班人员应在通知现场服务人员2小时后，对用户进行电话回访并做好记录。必要时客服部应派相关人员到现场核实情况。</p>
                    <p>十一、遇不可抗拒的因素（如停暖、停电等）造成停暖24小时内的信息，在接到通知3小时内向用热单位或管理部门发送停暖通知。停暖在24小时以上的，则在给小区物业或管理部门发送通知的同时，在晋中市电视台向业主电视公告。</p>
                    <p>十二、客服24小时值班电话：0354- 3988399</p>
                    <p>客服投诉、监督电话：0354-3073707</p>
                </div>
                <div class="tab-pane" id="chargeStandard">
                    <h3 class="text-center">晋中市物价局文件</h3>
                    <div class="clearfix">
                    <p class="pull-left">市价管字[2009]142号</p>
                    <p class="pull-right">签发：崔砚岗</p>
                    </div>
                    <h4  class="text-center">关于城区供热价格等有关问题的通知</h4>
                    <p>城区各供热单位：</p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;根据省物价局《关于晋中市城区供热价格等有关问题的通知》（晋价商字[2009]224号）精神，并经市政府同意，现将市城区供热价格等有关事项通知如下：</p>
                    <p>一、区域集中供热价格</p>
                    <p>1、居民住宅按使用面积收取，由每月每平方米3.50元调整为4.50元。</p>
                    <p>2、机关团体和经营性用户供热价格仍按照市价管字[2008]137号文件规定，按建筑面积收取，机关团体每月每平方米7.00元，经营性用户每月每平方米7.50元。</p>
                    <p>3、单位自供热和分散供热的住户，按区域集中供热价格执行。</p>
                    <p>二、热电联产集中供热价格</p>
                    <p>纳入热电联产集中供热的居民住宅按使用面积收取，每月每平方米4.30元，机关团体按建筑面积收取，每月每平方米6.80元，经营性用户按建筑面积收取，每月每平方米7.30元。</p>
                    <p>三、住宅按户内使用面积计算，不考虑建筑层高；其它建筑物按建筑面积和建筑层高3米为基础计算：层高在3米以下（含3米）的，折标系数为1；层高在3—4米（含4米）的，折标系数为1.3；层高在4—5米（含5米）的，折标系数为1.5；层高在5—6米（含6米）的，折标系数为2；层高在6米以上的，折标系数为3。</p>
                    <p>四、新建住宅交付使用第一个供热期如空置，由业主提出申请，经供热企业采取措施后按热价的30％收取热能补偿费，以后空置的按热价全额收费。</p>
                    <p>五、对低保户供暖政府给予适当补贴。低保户住宅使用面积在60平方米以内的，供热单位按居民住宅供热价格的40％收取，超出60平方米的部分，按居民住宅供热价格计收。供暖补助办法按市政府有关部门规定执行。</p>
                    <p>六、各供热单位要加强内部管理，节能降耗，降低供热成本，严格执行规定价格，不得随意改变计费面积和提高收费标准，确保供热质量，让广大用热户温暖越冬。</p>
                    <p>七、本通知从2009年供热期起执行。</p>
                    <p>二〇〇九年十月十四日</p>
                </div>
            </div>
        </div>
        <div class="wdgr_aboutUs col-md-4">
            <div class="aboutUs clearfix">
                <div class="head pull-left">
                    <h3>联系我们</h3>
                </div>
                <div class="content">
                    <p>公司名称：晋中市万达供热有限公司</p>
                    <p>联系电话：0354-3988399</p>
                    <p>公司传真：0354-3073705</p>
                    <p>通讯地址：山西省晋中市榆次区辽阳路79号</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!--合作伙伴-->
<section class="partner"></section>
<!--footer -->
<footer>
    <div class='container text-center'>
        版权所有：山西省晋中市万达供热有限公司 &nbsp; &nbsp;
        地址：山西省晋中市榆次区辽阳路79号 &nbsp; &nbsp; &nbsp; &nbsp; 邮编：030600 &nbsp; &nbsp;  备案号：晋ICP备15001311号
    </div>
</footer>



<script type="text/template" id="point_template">
    <% $.each(model,function(index,item){ %>
    <li data-target="#carousel-example-generic" data-slide-to="<%=index%>" class="<%=index==0?'active':''%>"></li>
    <% }); %>
</script>
<script type="text/template" id="image_template">
    <%$.each(model,function(index,item){%>
    <div class="item <%=index==0?'active':''%>">
        <%if(isMobile){%>
        <a class="m_img" href="#">
            <img src="<%=item.mImg%>" alt=""/>
        </a>
        <%}else{%>
        <a class="pc_img" style="background-image: url(<%=item.pcImg%>);" href="#"></a>
        <%}%>
    </div>
    <%})%>
</script>
<script src="lib/jquery/jquery.min.js"></script>
<script src="lib/bootstrap/js/bootstrap.min.js"></script>
<script src="lib/underscore/underscore.js"></script>
<script src="index.js"></script>
</body>
</html>